<div id="show">
    <div class="home-show-card">
        <%= image_tag(@user.photo)%>
        <h2> <%=  @user.name %> </h2>
        <b> Number of posts: <%=@user.posts_counter%> </b>
    </div>
    <div class="bio">
        <h4>#Bio</h4>
        <p ><%= @user.bio %></p>
    </div>

    <div class="posts">
        <% @posts.each_with_index do |post, ind| %>
           <b>Post#<%= ind+1 %></b> 
           <div class="post-title">
               <h3><%= post.title %></h3> 
               <p><%= post.text %></p> 
            </div>
            <div class="likes-comments"> 
               <p>Comments : <%= post.comments_counter %>, </p>
               <p>Likes : <%= post.likes_counter %></p>
            </div>
        <% end %>
    </div>
    
    <div class="all-posts">
        <%= link_to "#{@user.id}/posts" do %>
            <%= 'see all posts' %>
        <% end %>
    </div>
</div>
