<h1>user posts </h1>

<%= image_tag(@user.photo) %>
<%= @user.name %>
<%= @user.posts_counter %>

<% @posts.each do |post| %>
    <%= link_to "posts/#{post.id}" do %>
        <%= post.title %>
        <%= post.text %>
        <%= post.likes_counter %>
        <%= post.comments_counter %>
    <% end %>

        <% post.last_five_comments.each do |comment| %>
            <%= comment.author.name %>
            <%= comment.text %>
        <% end %>
<% end %>