<div id="all-posts">

    <div class="home-show-card">
            <%= image_tag(@user.photo)%>
            <h2> <%=  @user.name %> </h2>
            <b> Number of posts: <%=@user.posts_counter%> </b>
    </div>

    <div class="posts">
            <% @posts.each do |post| %>
                <%= link_to "posts/#{post.id}" do %>
                    <b>Post#<%= 1 %></b> 
                    <div class="post-title">
                        <h3><%= post.title %></h3> 
                        <p><%= post.text %></p> 
                        </div>
                        <div class="likes-comments"> 
                        <p>Comments : <%= post.comments_counter %>, </p>
                        <p>Likes : <%= post.likes_counter %></p>
                    </div>
                <% end %>

                    <% unless post.last_five_comments.empty? %>
                    <div class="comments">
                        <% post.comments.each do |comment| %>
                            <%= comment.author.name %> :
                            <%= comment.text %>
                        <% end %>
                    </div>
                    <% else %>
                    <p> No Comment Found!!!</p>
                    <% end %>
            <% end %>
    </div>


</div>