<h1>user/user_id/posts/id</h1>
<% @posts.each do |post| %>
    
        <%= post.title %>
        <%= post.likes_counter %>
        <%= post.comments_counter %>
        <%= post.text %>

        <% post.last_five_comments.each do |comment| %>
            <%= comment.author.name %>
            <%= comment.text %>
        <% end %>
<% end %>